/* ul {
    list-style: none;
}
li {
    display: inline-block  ;
    border: 1px solid green;
    background-color: green;
    color: white;
    padding: 15px; 
} */
button {
    background-color: green;
    color: white;
    padding: 15px; 
}
#game_container {
    margin: auto;
    width: 1000px;

}
#header_container, #player_selection_container, #result_container {
    margin: auto;
    width: 75%;
    text-align: center;
}
#computerScore, #playerScore {
    border: 2px solid black;
    padding: 5px;
}